input[type='file'] {
  display: none;
}
.input-file {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.input-file > label {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.input-file > label span {
  display: flex;
}
.title {
  margin: 1rem 0;
  font-size: 2rem;
  color: rgb(25, 28, 57);
  font-weight: 600;
  text-align: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
