.container {
  margin-top: 5rem;
  background-color: white;
  padding: 20px;
  box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;
  border-radius: 8px;
  position: relative;
}
.blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}